name: Run Tests
on: [push]
jobs:
  cargo_test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config libssl-dev
          sudo apt-get install -y librust-alsa-sys-dev libxdo-dev llvm-dev cmake libudev-dev

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
